/webApp/HELP.md
/webApp/.gradle
/webApp/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/webApp/!**/src/main/**/build/
/webApp/!**/src/test/**/build/
/webApp/BOOT-INF
/webApp/META-INF
/webApp/org


### IntelliJ IDEA ###
/webApp/.idea
/webApp/*.iws
/webApp/*.iml
/webApp/*.ipr
/webApp/out/
/webApp/!**/src/main/**/out/
/webApp/!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
